body, html {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: #f0f0f1;
  font-family: Verdana, Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  background: white;
  width: 40rem;
  align-items: center;
  margin: 2rem;  
}

.header {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 0px silver;
}

.mid-text-top-container {
  width: 25rem;
}

.mid-text-top,
.mid-text-mid,
.mid-text-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  color: #0a5696;
}

.mid-text-top h2 {
  margin: 0.3rem 0;
  font-size: 1.7rem;
  font-weight: 600;
  font-stretch:ultra-expanded;
  padding: 0.5rem;
  letter-spacing: 0.01rem;
}

.you-book-border {
  border-bottom: 0.2rem solid #0a5696;
  padding-bottom: 1rem;
}

.mid-text-mid-container {
  width: 100%;
  padding: 1rem 0 0 0;
}

.mid-text-mid h3 {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0;
}

.mid-text-mid h1 {
  font-size: 2rem;
  margin: 0;
}

.one-way {
  text-align: center;
  padding: 0 1rem;
  margin: 1rem 0 -1.3rem 0;
  color: #0a5696;
}

.mid-text-bottom h1 {
  margin: 0;
  font-size: 5.5rem;
  color: #084c83
}

.svg-dollar {
  margin-right: -0.4rem;
}

.svg-asterisk {
 margin-left: -0.4rem;
}

.view-deals {
  color: #0a5696;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin-left: 0.3rem;
  margin-top: 0;
  padding: 0.7rem 0.8rem 0.5rem 0.8rem;
  border: 2px solid #0a5696;
  border-radius: 0.3rem;
}

.resorts-package {
  padding-top: 0.5rem;
}

.sale-info-text {
  padding: 1rem 2.3rem;
}

.sale-info-text p {
  font-size: 0.7rem;
  text-align: center;
  line-height: 2.2ch;
  margin: 0;
  opacity: 75%;
}

.wrapup-text {
  padding: 1rem 3.5rem;
}

.wrapup-text p {
  font-size: 0.7rem;
  text-align: center;
  line-height: 2.2ch;
  margin: 0;
  opacity: 75%;
} 

.sale-info-text article {
  width: 92%;
  margin: 0 auto;
}

.icons-group {
  width: 100%;
}

.icons-group ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.icons-group li {
  margin: 0 0.5rem;
}

.company-address {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
