html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: auto;
  background: #f0f0f1;
  font-family: Verdana, Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  background: white;
  max-width: 40rem;
  height: auto;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  box-shadow: 0px 1px 0px silver;
}

.header img {
  display: block;
  max-width: 100%;
  height: auto;
}

.center-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0a5696;  
}

.center-text span {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #0a5696;  
}

.center-text h2 {
  margin: 0;
}

.center-text h3 {
  margin: 1rem 0 0 0;
  font-weight: 400;
  font-size: 1.4rem;
}

.center-text h1 {
  margin: 0;
  font-size: 2rem;
}

.you-book-border {
  border-bottom: 0.2rem solid #0a5696;
  padding-bottom: 1rem;
}

.one-way {
  text-align: center;
  margin: 1rem 0 -1.3rem 0;
  color: #0a5696;
}

.mid-text-bottom {
  line-height: 1ch;
  padding-top: 1rem;
}

.mid-text-bottom h1 {
  margin: 0 0.5rem 0 0;
  font-size: 5.5rem;
  color: #084c83
}

.svg-dollar {
  margin-right: -0.4rem;
}

.svg-asterisk {
 margin-left: -0.4rem;
}

.view-deals {
  color: #0a5696;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-top: 0;
  padding: 0.6rem 0.9rem 0.4rem 0.9rem;
  border: 2px solid #0a5696;
  border-radius: 0.3rem;
}

.plus-add-ons,
.resorts-package {
  max-width: 80%;
  height: auto;
}

.plus-add-ons img {
  display: block;
  max-width: 100%;
  height: auto;
}

.resorts-package img {
  display: block;
  padding-top: 0.5rem;
  max-width: 100%;
  height: auto;
}

.sale-info-text {
  padding: 1rem 2.3rem;
  max-width: 100%;
  height: auto;
}

.sale-info-text p {
  font-size: 0.7rem;
  text-align: center;
  max-width: 100%;
  height: auto;
  line-height: 2.2ch;
  margin: 0;
  opacity: 75%;
}

.wrapup-text {
  padding: 1rem 3.5rem;
}

.wrapup-text p {
  font-size: 0.7rem;
  text-align: center;
  line-height: 2.2ch;
  margin: 0;
  opacity: 75%;
} 

.sale-info-text article {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.icons-group {
  width: 100%;
}

.icons-group ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.icons-group li {
  margin: 0 0.5rem;
}

.company-address {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.marquee {
  display: flex;
  flex-direction: column;
}
